<!-- Page Content -->    
<section class="container">
  <div class="row">
    <section class="col-sm-12 col-md-12 hidden-xs">
      <ol class="breadcrumb"> 
        <li><a routerLink="/home" class="trsn" title="Go back to Home">Home</a></li>           
        <li><span>Techno</span></li>        
      </ol>
    </section>
  </div>
</section>

<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header">Techno</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-xs-6">
      <span><strong>6 Product(s)</strong></span>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-6">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-4 control-label">Sort by:</label>
          <div class="col-md-8">
            <select class="form-control" onchange="window.location.href = this.value">              
              <option selected="selected" value="/techno/position/asc#category-gallery">
                Position
              </option>              
              <option  value="/techno/name/asc#category-gallery">
                Name: A to Z
              </option>              
              <option  value="/techno/name/desc#category-gallery">
                Name: Z to A
              </option>              
              <option  value="/techno/price/asc#category-gallery">
                Price: Low to High
              </option>              
              <option  value="/techno/price/desc#category-gallery">
                Price: High to Low
              </option>              
              <option  value="/techno/date/desc#category-gallery">
                Date: Newest first
              </option>              
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">    
    <div *ngFor="let product of products"  class="col-sm-6 col-md-4 col-xs-12">
      <div class="main-category-image">        
        <a [routerLink]="['/items', product.id]">
          <img class="img-responsive img-portfolio img-hover" src="{{ product.icon }}" alt="{{ product.name }}" />
        </a>

        <div class="caption">
          <h4 class="pull-right">
            <span *ngIf="!product.available; else productPricing"  class="product-block-not-available">Out of Stock</span>
            <ng-template #productPricing>{{ product.pricing | currency:'BRL':true }}</ng-template>               
          </h4>
          <h4 class="pull-left"><a [routerLink]="['/items', product.id]">{{ product.name | productShortName }}</a></h4>
          <div class="clearfix"></div>
          <p class="product-block-description">{{ product.description | productShortDescription }}</p>
        </div>
      </div>
    </div>   

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12">        
      </div>
    </div>
  </div> 
</div>