<!-- Page Content -->
<section class="container">
  <div class="row">
    <section class="col-sm-12 col-md-12 hidden-xs">
      <ol class="breadcrumb">  
        <li><a routerLink="/home" class="trsn" title="Go back to Home">Home</a></li> 
        <li><span>About Us</span></li>    
      </ol>
    </section>
  </div>
</section>

<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header">About Us</h1>
    </div>
  </div><!-- /.row -->

  <div class="col-md-12 col-sm-12 col-xs-12">
    <p>We are a tech oriented store with the best deals and products.</p>
  </div>
</div><!-- /.container -->