<!-- Page Content -->    
<section class="container">
  <div class="row">
    <section class="col-sm-12 col-md-12 hidden-xs">
      <ol class="breadcrumb"> 
        <li><a routerLink="/home" class="trsn" title="Go back to Home">Home</a></li>    
        <li><span>Blog</span></li>  
      </ol>
    </section>
  </div>
</section>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="page-header">Blog</h1>      

      <!-- Blog Post -->         
      <h2>
        <a href="https://bootstrap.jumpseller.com/dualshock-4" title="The brand new Dualshock 4">The brand new Dualshock 4</a>
      </h2>       
      <a href="https://bootstrap.jumpseller.com/dualshock-4" title="The brand new Dualshock 4"><img class="img-responsive" src="//cdnx.jumpseller.com/bootstrap/image/937208/thumb/900/300?1479218165" alt="The brand new Dualshock 4" /></a>         
      <hr>
      <p>The DUALSHOCK®4 wireless controller features familiar controls while incorporating new ways to interact with games and other players. Improved dual analog sticks and trigger buttons offer an even greater sense of control, while the capacitive touch pad opens up endless potential for new gameplay possibilities. Experience the evolution of play with the DUALSHOCK®4 wireless controller.</p>
      <a class="btn btn-primary" href="https://bootstrap.jumpseller.com/dualshock-4">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
      <hr>	

      <h2>
        <a href="https://bootstrap.jumpseller.com/samsung-smartphones" title="Samsung Smartphones">Samsung Smartphones</a>
      </h2>       
      <a href="https://bootstrap.jumpseller.com/samsung-smartphones" title="Samsung Smartphones"><img class="img-responsive" src="//cdnx.jumpseller.com/bootstrap/image/937252/thumb/900/300?1479219826" alt="Samsung Smartphones" /></a>          
      <hr>
      <p>Samsung Galaxy devices have traditionally used the Android operating system produced by Google, usually with a custom user interface called TouchWiz. This tradition was broken at CES 2016 with the announcement of the first Galaxy-branded Windows 10 device, the Samsung Galaxy TabPro S.</p>
      <a class="btn btn-primary" href="https://bootstrap.jumpseller.com/samsung-smartphones">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
      <hr>			
      <!-- End Blog Post -->

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-12 col-md-12">          
        </div>
      </div>  
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Blog menu -->      
      <div class="well">
        <h4>Featured Articles</h4>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">              
              <li>
                <a routerLink="/home" title="Inicio">Inicio</a>
              </li>              
              <li>
                <a routerLink="/contact" title="Contacto">Contacto</a>
              </li>              
              <li>
                <a href="/techno" title="Techno">Techno</a>
              </li>              
            </ul>
          </div><!-- /.col-lg-6 -->          
        </div><!-- /.row -->
      </div>      

      <!-- Side Widget blog -->      
      <div class="well">
        <h4>Side Widget Blog</h4>
        <p>By registering at our shop, you will make more expedite the checkout process, you can add multiple shipping addresses, view and track your orders, and more. You can edit this text from: Themes > Theme Options > Blog</p>
      </div>   
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->