<!-- Page Content --> 

<!-- Carousel -->
<carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" >
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image" alt="Slide {{ index + 1}}">

    <div class="carousel-caption">
      <h4>Slide {{index + 1}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>

<!-- Page Content -->
<div class="container">
  <!-- Products Section -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 class="page-header">Latest Products</h2>
    </div>
    
    <!-- Featured Products -->  	
    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/dualshock-controller-for-playstation-4"><img class="img-responsive img-portfolio img-hover" src="assets/images/350_004.png" alt="Dualshock Controller for PlayStation 4"></a>

      <div class="caption">
        <h4 class="pull-right">  
          <span class="product-block-not-available">Out of Stock</span>  
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/dualshock-controller-for-playstation-4">Dualshock Controller ...</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">   
            The DualShock®4 Wireless Controller for PlayStation®4 defines the 
        next generation of play, combining revolutionary new features with 
        intuitive, pre...  
        </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/keyboarded-tablet"><img class="img-responsive img-portfolio img-hover" src="assets/images/350_002.png" alt="Asus Transformer Pad Tablet"></a>

      <div class="caption">
        <h4 class="pull-right">  
          $200.000  
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/keyboarded-tablet">Asus Transformer Pad ...</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">  
            The New ASUS Transformer Pad is a 10.1-inch mobile entertainment 
        tablet with a vivid 1280 x 800 IPS display, the latest high-performance 
        Intel BayT...   
        </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/ps4"><img class="img-responsive img-portfolio img-hover" src="assets/images/350_003.png" alt="DualShock Controller for PlayStation 4"></a>

      <div class="caption">
        <h4 class="pull-right">      
          $20.000   
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/ps4">DualShock Controller ...</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">  
            The DualShock®4 Wireless Controller for PlayStation®4 defines the 
        next generation of play, combining revolutionary new features with 
        intuitive, pre...       
        </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/imac-desktop-computer"><img class="img-responsive img-portfolio img-hover" src="assets/images/350_006.png" alt="iMac Desktop Computer"></a>

      <div class="caption">
        <h4 class="pull-right"> 
          $1.200.000  
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/imac-desktop-computer">iMac Desktop Computer</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">   
            The idea behind iMac has never wavered: to craft the ultimate 
        desktop experience. The best display, paired with high-performance 
        processors, graphi...      
        </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/smartphone-mtk6572"><img class="img-responsive img-portfolio img-hover" src="assets/images/350_005.png" alt="Smartphone MTK6572 "></a>

      <div class="caption">
        <h4 class="pull-right">
          $500.000
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/smartphone-mtk6572">Smartphone MTK6572 </a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">
            JK&nbsp;M8 Smartphone with&nbsp;Android 4.4.2 OS
        </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a href="https://bootstrap.jumpseller.com/wacom-tablet"><img class="img-responsive img-portfolio img-hover" src="assets/images/350.png" alt="Wacom Bamboo Tablet"></a>

      <div class="caption">
        <h4 class="pull-right">
          $100.000
        </h4>
        <h4 class="pull-left"><a href="https://bootstrap.jumpseller.com/wacom-tablet">Wacom Bamboo Tablet</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">
            Just getting going with your art? Transitioning from paper to 
        computer-based work? The Bamboo Splash is a great way to explore your 
        interests, with...
        </p>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->