<!-- Page Content --> 

<!-- Carousel -->
<carousel [interval]="interval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" >
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="slide.image" alt="Slide {{ index + 1}}">

    <div class="carousel-caption">
      <h4>Slide {{index + 1}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>

<!-- Page Content -->
<div class="container">
  <!-- Products Section -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 class="page-header">Latest Products</h2>
    </div>
    
    <!-- Featured Products -->  	
    <div *ngFor="let product of products" class="col-md-4 col-sm-6 col-xs-12 product-home">    
      <a [routerLink]="['/items', product.id]">
        <img class="img-responsive img-portfolio img-hover" src="{{ product.icon }}" alt="{{ product.name }}">
      </a>

      <div class="caption">
        <h4 class="pull-right">  
          <span *ngIf="!product.available; else productPricing"  class="product-block-not-available">Out of Stock</span>
          <ng-template #productPricing>{{ product.pricing | currency:'BRL':true }}</ng-template>
        </h4>
        <h4 class="pull-left"><a [routerLink]="['/items', product.id]">{{ product.name | productShortName }}</a></h4>
        <div class="clearfix"></div>
        <p class="product-block-description">{{ product.description | productShortDescription }}</p>
      </div>
    </div>    
  </div><!-- /.row -->
</div><!-- /.container -->
